.jumbotron {
    font-family: fantasy;
    text-align: center;
}

#time {
    width: 8%;
    text-align: center;
    background-color: peachpuff;
}

#eventInput {
    width: 84%;
    background-color: lightgray;
}

#saveButton {
    width: 8%;
    background-color: lightskyblue;

}

#time,
#eventInput,
#saveButton {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 100px;
}